<h1>Articles#index</h1>
<% for each in @article %>
  <%= each.title %><br>
  <%= each.body %><br>
  <%= each.user.username %><br>
  <%= each.likes %><br>
  <%= each.created_at %><br><br>
<% end %>
<p>Find me in app/views/articles/index.html.erb</p>
